<center><h2 class="title">Trips</h2></center>

<div id="tabs" class="trips-container">
  <div>
    <ul class="nav nav-tabs">
      <li><a href="#1" data-toggle="tab" class="<%= tabs_classes('current', @target_tab) %>">Current trips</a></li>
      <li><a href="#2" data-toggle="tab" class="<%= tabs_classes('future', @target_tab) %>">Upcoming trips</a></li>
      <li><a href="#3" data-toggle="tab" class="<%= tabs_classes('past', @target_tab) %>">Past trips</a></li>
    </ul>
  </div>

  <div class="tab-content trips-time-container">
    <div class="<%= panes_classe('current', @target_tab) %>" id="1">
      <% if @current_trips.any? %>
        <% @current_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
          <center><h2 class="trip-card">You're not on a trip right now! <%= link_to "Why don't you plan one?", new_trip_path %></h2></center>
      <% end %>
    </div>
    <div class="<%= panes_classe('future', @target_tab) %>" id="2">
      <% if @future_trips.any? %>
        <% @future_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2 class="trip-card">You don't have any upcoming trips! <%= link_to "Feel like planning one?", new_trip_path %></h2></center>
      <% end %>
    </div>
    <div class="<%= panes_classe('past', @target_tab) %>" id="3">
      <% if @past_trips.any? %>
        <% @past_trips.each do |trip| %>
          <%= render 'trip', trip: trip %>
        <% end %>
      <% else %>
        <center><h2 class="trip-card">We don't have any records of your past trips!</h2></center>
      <% end %>
    </div>
  </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
