<div class="container mt-3 p-5" style="height: 1000px">
  <h1 class="text-center mb-3">Where are you going?</h1>
  <div class="row mt-3 justify-content-center pt-3">
      <div class="col-6">
          <%= simple_form_for (@trip) do |f| %>
<!--             <#%= f.input :name, label: :"Country" %> -->
            <%= f.input :destination, as: :country, label: :"Country" %>
            <%= f.input :name, label: :"Trip's name" %>
            <%= f.input :start_date, as: :string, input_html: { id: "start_date" } %>
            <%= f.input :end_date, as: :string, input_html: { id: "end_date" } %>
            <%= f.button :submit, class: "light-button"%>
          <% end %>
      </div>
  </div>

