<div class="trips-show-container">
  <h2>Hey <%= current_user.first_name %>! Here are the details for your trip to <%= @trip.destination%>.</h2>
  <%= link_to "REVIEW MY TRIP", trip_review_path(@trip), class: "btn dark-button"%>

  <button id="hide-button" class="btn dark-button">VIEW SAVED ITEMS FOR <%= @trip.destination.upcase %></button>
  <div class="app" id="hide-items">
    <div class="d-flex">
      <%= simple_form_for :query, url: trip_path(@trip), method:'GET', html: {class: 'form-inline dropdown-form'} do |f| %>
        <%= hidden_field_tag 'search[date]', params[:search][:date] if params[:search] %>
        <div class="form-group dark-dropdown">
          <%= f.input :category, collection: Item::CATEGORY, input_html: {class: 'form-control dark-category'}, required: false, selected: @category, include_blank: 'All' %>
        </div>
        <div class="form-group">
          <%= f.submit "Search",  class: "btn display-none" %>
        </div>
      <% end %>
    </div>

    <ul class="hs">
      <% @items.each do |item| %>
      <%= render 'items/country_items_card', item: item %>
      <% end %>
    </ul>

  </div>

  <div class="d-flex">
    <div class="justify-content-center small-cards-container">
      <div class="app-vertical">
      <ul  class="nav nav-pills hs-vertical">
        <li class="active">
          <button  href="#1b" data-toggle="tab" class="dark-button-small">Overview</button>
        </li>
      <% @dates.each do |date| %>
        <li style="width: 115px">
          <%= simple_form_for :search, url: trip_path(@trip), method:'GET' do |f| %>
            <%= hidden_field_tag 'query[category]', params[:query][:category] if params[:query] %>
              <%= f.input :date, as: :hidden, input_html: {value: date}, html: {class: 'dark-button-small'} %>
              <button class="dark-button-small"><%= f.submit date.strftime('%a, %m/%e')%></button>
          <% end %>
          <%#= link_to date.strftime('%a: %b %w'), trip_path(@trip, date: date) %>
        </li>
      <% end %>
      </ul>
      </div>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">
          <div class="small-items-container">
            <div class="override_col">
              <div class="cards-small-item draggable-items card-order-number" data-trips-item-update-path="<%= trip_path(@trip) %>">
                <% @trip_items.order(date: :asc, order: :asc).each do |item| %>
                  <%= render 'items/trip_card', trip_item: item %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane" id="<%= trip_path(@trip) %>">
          <div class="small-items-container">
            <div class="override_col">
              <div class="cards-small-item draggable-items card-order-number" data-trips-item-update-path="<%= trip_path(@trip) %>">
                <#% @trip_items.order(date: :asc, order: :asc).each do |item| %>
                  <#%= render 'items/trip_card', trip_item: item %>
                <#% end %>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="map-container-show-page" id="map" style="height: 90vh; position: sticky; top: 0px;" data-markers="<%= @markers.to_json %>" %>"></div>
  </div>
<!--
  <div class="d-flex">
    <div class="justify-content-center small-cards-container">
      <div class="d-flex justify-content-center">
        <%#= simple_form_for :search, url: trip_path(@trip), method:'GET', html: {class: 'form-inline dropdown-form'} do |f| %>
          <%#= hidden_field_tag 'query[category]', params[:query][:category] if params[:query] %>
          <div class="form-group dark-dropdown-days">
            <%#= f.input :date, collection: @dates, input_html: {class: 'form-control dark-category'}, required: false, selected: @date, include_blank: 'All' %>
          </div>
          <div class="form-group">
            <%#= f.submit "Search", class: "btn display-none" %>
          </div>
        <%# end %>
      </div>
      <div class="small-items-container">
        <div class="override_col">
          <div class="cards-small-item draggable-items card-order-number" data-trips-item-update-path="<%= trip_path(@trip) %>">
            <%# @trip_items.order(date: :asc, order: :asc).each do |item| %>
              <%#= render 'items/trip_card', trip_item: item %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
    <div class="map-container-show-page" id="map" style="height: 90vh; position: sticky; top: 0px;" data-markers="<%= @markers.to_json %>" %>"></div>
  </div> -->

</div>


<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
