<div class="trips-show-container">
  <div class="app">

    <div class="d-flex">
      <%= simple_form_for :query, url: trip_path(@trip), method:'GET', html: {class: 'form-inline dropdown-form'} do |f| %>
        <%= hidden_field_tag 'search[date]', params[:search][:date] if params[:search] %>
        <div class="form-group dark-dropdown">
          <%= f.input :category, collection: Item::CATEGORY, input_html: {class: 'form-control dark-category'}, required: false, selected: @category, include_blank: 'All' %>
        </div>
        <div class="form-group">
          <%= f.submit "Search",  class: "btn display-none" %>
        </div>
      <% end %>
    </div>

    <ul class="hs">
      <% @items.each do |item| %>
      <%= render 'items/country_items_card', item: item %>
      <% end %>
    </ul>

  </div>

  <div class="d-flex">
    <div class="justify-content-center">
      <div class="d-flex justify-content-center">
        <%= simple_form_for :search, url: trip_path(@trip), method:'GET', html: {class: 'form-inline dropdown-form'} do |f| %>
          <%= hidden_field_tag 'query[category]', params[:query][:category] if params[:query] %>
          <div class="form-group dark-dropdown-days">
            <%= f.input :date, collection: @dates, input_html: {class: 'form-control dark-category'}, required: false, selected: @date, include_blank: 'All' %>
          </div>
          <div class="form-group">
            <%= f.submit "Search", class: "btn display-none" %>
          </div>
        <% end %>
      </div>
      <div class="items-container">
        <div class="col-3 override_col">
          <div class="cards-small-item">
            <% @trip_items.each do |item| %>
              <%= render 'items/trip_card', trip_item: item %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="map" style="width: 400px; height: 100vh; position: sticky; top: 0px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>
</div>
