<div id="carouselExampleIndicators" class="carousel slide home-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner carousel-container">
    <div class="carousel-item active">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h1>TRAVVA</h1>
          <h2>Simplify your travel.</h2>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h5>Goodbye excel, goodbye 30 website tabs. Hello Travva.</h5>
          <p>Your friend tells you about this incredible restaurant she visited when she was in Paris. You’re reading the Times and you see an ad for a spa in Paris. You Google search Paris. You realize every single advertisement is now showing you suggestions for Paris. You’re going to Paris. But what was that restaurant called again?</p>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h5>Step 1: Dream Big.</h5>
          <p>When your friend tells you about that restaurant, log it in your Travva Bucket List. No matter the cost or the distance, just log it here and figure out how to make it happen later.</p>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h5>Step 2: You’re going to Paris.</h5>
          <p>You’ve got a long bucket list, and you surprised your sweetheart with tickets for your next couples getaway in Paris. Do you need to go to a retreat to have everything seamlessly organized? No. Do you need to spend a ridiculous amount of money on a travel planner? No. You now have Travva.</p>
          <p>Log and view everything: transportation, food, adventure, culture. You compare your options. You decide your own itinerary. </p>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h5>Step 3: Plan on the go.</h5>
          <p>You’re in Paris! Do you want to spend ages connecting to wifi, trying to plan your itinerary for the day like a tourist? No. Turn to Travva for help, we want you to actually enjoy the vacation you’ve been looking forward to (and not get a bunch of glares from the locals).</p>
          <p>Our offline map allows you to see everything in one place, and decide on the go.</p>
          <p>Plan ahead and easily drag and drop your itinerary items to better fit your day, or…</p>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "home.jpg", alt: "alttext" %>
        <div class="carousel-caption">
          <h5>Step 4: Prepare for the Black Swan.</h5>
          <p>You had decided to go to Jardin Luxembourg today and take pictures by the Eiffel Tower, but it’s raining. What to do? Click on our itinerary simulator to give you a hand. We’ll take weather, time of day, and completed items into account to give you a head start on your day. Bienvenue chez Travva!</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


