<div class="card-index">
  <% if item.photo.present? %>
    <div class="card-picture" data-toggle="modal" data-target="#card-item-modal-<%= item.id %>" style="background-image: url(<%= cl_image_path item.photo, height: 200, width: 300 %>)"></div>
  <% else %>
    <div class="card-picture <%= item.category.downcase %>"  data-toggle="modal" data-target="#card-item-modal-<%= item.id %>">
    </div>
  <% end %>

    <div class="card-body-item d-flex justify-content-between align-items-center my-3">
      <div class="card-left">
        <%= item.title.capitalize %>
      </div>
      <div class="card-right">
        <%= item.category.capitalize %>
      </div>
      <div class="card-item-rating">
        <% if item.rating.present?  %>
        <p><% item.rating.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - item.rating).times do  %>
          <i class="far fa-star"></i>
          <% end %>
        </p>
        <% end %>
      </div>
    </div>
    <div class="dropdown-trip d-flex justify-content-between align-items-center">
      <button class="btn dark-button-small-item dropdown-toggle" type="button" id='<%= "dropdownTripButton#{item.id}" %>' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add to trip
      </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='trip-items-dropdown'>
          <% @trips = @trips.where(destination: item.country) %>
          <% @trips.each do |trip| %>
          <%= link_to trip.name, trip_trip_items_path(trip, item: item), method: :post, class: 'dropdown-item', remote: true %>
          <% end %>
        </div>
        <%= link_to edit_item_path(item) do %>
          <i class="far trash fa-edit"></i>
        <% end %>
        <%= link_to item_path(item), method: :delete, data: {"confirm": "Are you sure?"} do %>
          <i class="far trash fa-trash-alt"></i>
        <% end %>
    </div>
    <%= render 'items/card_modal', item: item %>
</div>
