<!-- Modal -->
<div class="modal fade" id="card-item-modal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= item.title.capitalize %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Address: <%= item.address %></p>
        <p>City: <%= item.city %></p>
        <p>Country: <%= item.country %></p>
        <p>Category: <%= item.category.capitalize %></p>
        <p>Time of day: <%= item.time_of_day %></p>
        <p>Weather: <%= item.weather %></p>
        <p>Rating: <% item.rating.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - item.rating).times do  %>
          <i class="far fa-star"></i>
          <% end %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark-button">Add to a trip</button>
      </div>
    </div>
  </div>
</div>
