<!-- Modal -->
<div class="modal fade" id="card-item-modal-<%= result['id'] %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-border" role="document">
    <div class="modal-content" style="border-radius: 4px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= result["name"] %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex">
        <div class="modal-body">
          <p><%= result["snippet"] %></p>
          <%#= link_to "Add to Bucket List", items_path, method: :post%>
          <%= simple_form_for(Item.new) do |f| %>
          <%= f.input :title, input_html: {id: 'item_title', value: result["name"]}, as: :hidden %>
          <%= f.input :country, input_html: {id: 'item_country', value: @country_code}, as: :hidden %>
          <%= f.input :city, as: :hidden, input_html: {id: 'item_city', value: @city} %>
          <%= f.input :category, selected: "Sightseeing", collection: Item::CATEGORY, as: :hidden, input_html: { value: "Sightseeing" } %>
          <%= f.input :remote_photo_url, as: :hidden, input_html: {value: result['images'][0]['sizes']['original']['url']} %>
          <%= f.submit 'Add to Bucket List', class: "dark-button" %>
          <% end %>
        </div>
        <div class="m-2 p-2">
          <% if result['images'].any? %>
            <p><%= image_tag result['images'][0]['sizes']['original']['url'], height: 300, width: 400, crop: :fit %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
