<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- For Country Filter -->
      <%#= simple_form_for :country_search, url: items_path, method:'GET', html:
      {class: 'form-inline'} do |f| %>
      <!-- <div class="form-group mb-2 mx-2"> -->
      <%#= f.input :country, collection: Item::COUNTRY, input_html: {class:
      'form-control'}, required: false, selected: @country, include_blank: 'All'
      %>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
      <%#= f.submit "Search", class: "btn btn-primary mb-2 mx-2" %>
      <!-- </div> -->

      <%#= link_to "Japan", items_path(country_search: {country: 'Japan'}) %> 
      <%#
      end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <!-- For Category Filter -->
      <%= simple_form_for :search, object: @search, url: items_path, method: "GET" do |f| %> 
      <% p @search %>
        <%= f.input :category, label: "Category", collection: Item::CATEGORY, required: false,   as: :check_boxes %> 
        <%= f.input :country, label: "Country", collection: Item::COUNTRY, required: false,  as: :check_boxes %> 
        <%= f.submit "Search", class: "btn btn-primary" %> <%= link_to "Reset", items_path %> 
      <% end %>
    </div>

    <div class="col-10">
      <div class="cards">
        <% @items.each do |item| %>
        <div class="card-category">
          <%= cl_image_tag item.photo, height: 200, width: 300, crop: :fill %>
          <h2><%= item.title %></h2>
          <p><%= item.category %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
