<div class="big-container" style="height: 100vh">
  <div class="row justify-content-center my-2">
    <h2 class="title-bucket">Bucket list
    <%= link_to new_item_path do %>
      <i class="fas plus fa-plus-circle"></i>
    <% end %>
  </h2>
  </div>
  <div class="row d-flex">
    <div class="col-2 dropdown-style-items">

      <%= simple_form_for :search, object: @search, url: items_path, method:
      "GET" do |f| %>
        <% p @search %> <%= f.input :country, label: "Country",
        collection: @countries, required: false, as: :check_boxes %>
        <%= f.input :category, label: "Category", collection: Item::CATEGORY,
        required: false, as: :check_boxes %>
        <div style="text-align: center;">
        <%= f.submit "Search", class: "btn dark-button" %>
        <%= link_to "Reset", items_path, class: "btn dark-button" %>
        </div>
      <% end %>
    </div>

    <div class="items-container">
      <div class="col-10 override_col">
        <% @item_countries.each do |country| %>
        <div class="country_name">
          <h4><%= country %></h4>
        </div>
        <% @items_filtered = @items.select{ |item| item.country == country } %>
        <div class="cards-item">
            <% @items_filtered.each do |item| %>
              <%= render 'items/card', item: item %>
            <% end %>
          <%# @items.each do |item| %>
           <%#= render 'items/card', item: item %>
          <%# end %>
        </div>
        <div class="demarcation">
        </div>
         <% end %>
      </div>
    </div>
  </div>
</div>
