<div class="big-container" style="height: 100vh">

  <div class="row d-flex">
    <div class="col-2 dropdown-style">

      <%= simple_form_for :search, object: @search, url: items_path, method:
      "GET" do |f| %>
        <% p @search %> <%= f.input :country, label: "Country",
        collection: Item::COUNTRY, required: false, as: :check_boxes %>
        <%= f.input :category, label: "Category", collection: Item::CATEGORY,
        required: false, as: :check_boxes %>
        <div style="text-align: center;">
        <%= f.submit "Search", class: "btn dark-button" %>
        <%= link_to "Reset", items_path, class: "btn dark-button" %>
        </div>
      <% end %>
    </div>

    <div class="items-container">
      <div class="col-10 override_col">
        <div class="cards-item">
          <% @items.each do |item| %>
           <%= render 'items/card', item: item %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
